@page
@model MoneyDisplayModel
@{
    ViewData["Title"] = "Donations";
}
<head>
    <title>Monetary Donations</title>
</head>
<body>
    <h1>Incoming Monetary Donations</h1>
    <div id="donation-list">
        <!-- Donation entries will be displayed here -->
    </div>
    <br />
</body>

